<mat-toolbar >
    <mat-toolbar-row>
      <span (click)="navigateToUsers()" id="userMenu">All Users</span>    
      <span id="userDetailMenu">&nbsp; &#8811; {{user.name.first}} {{user.name.last}}</span>    
    </mat-toolbar-row>
  </mat-toolbar>
<mat-card class="user-card" *ngIf="user">
    <mat-card-title>{{user.name.title}} {{user.name.first}} {{user.name.last}}</mat-card-title>
    <mat-card-content>
        {{user.phone}}
        <br>
        {{user.email}}
    </mat-card-content>

</mat-card>
